<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./../build/class.js"></script>
    <script>
        window.onload = function() {
            var obj = new MyClass();
            console.log(`${obj.x}  ${obj.y}`);
            console.log(obj.reverse([3, 2, 4, 5, 1, 8]));
            console.log(obj.sort([3, 2, 4, 5, 1, 8]));
        }
    </script>
</head>

<body>

</body>

</html>